{{define "title"}}Download your file{{end}}
{{define "content"}}
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="modal-title" title="{{ .Filename }}">
          {{ .Filename }}
        </div>
      </div>
      <div class="modal-body">
      {{if eq .FileType "image"}}
        <img src="/files/{{ .Filename }}" class="img-fluid" alt="Responsive image">
      {{else if eq .FileType "application"}}
        <img src="/static/zip-icon.png" class="img-fluid" alt="Responsive image">
      {{end}}
      </div>
      <div class="modal-footer">
        <a href="/files/{{ .Filename }}" download>
          <button class="btn btn-success">
            Download
          </button>
        </a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
{{end}}
