{{define "js"}}
  <script>
    htmx.on('#form', 'htmx:xhr:progress', function(evt) {
      htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
    });

    // dark mode toggle buutton.
    document.addEventListener('DOMContentLoaded', (event) => {
      const htmlElement = document.documentElement;
      const switchElement = document.getElementById('darkModeSwitch');
      // Set the default theme to dark if no setting is found in local storage
      const currentTheme = localStorage.getItem('bsTheme') || 'dark';
      htmlElement.setAttribute('data-bs-theme', currentTheme);
      switchElement.checked = currentTheme === 'dark';

      switchElement.addEventListener('change', function () {
        if (this.checked) {
          htmlElement.setAttribute('data-bs-theme', 'dark');
          localStorage.setItem('bsTheme', 'dark');
        } else {
          htmlElement.setAttribute('data-bs-theme', 'light');
          localStorage.setItem('bsTheme', 'light');
        }
      });
    });
  </script>
  <script src="/static/bootstrap.min.js"></script>
  <script>
    htmx.on('htmx:load', function(evt) { updateName(); });
    htmx.on(window, 'resize', function(evt) { updateName(); });

    // Shorten the filename if it's too long to fit in the space available
    function updateName() {
      let filenameObj = document.getElementById('filename');
      if (!filenameObj) return; // Not on the download page

      let filename = filenameObj.title;

      let availableWidth = filenameObj.clientWidth;

      // Calculate the width of the text using character width estimates
      let textWidth = filename.split('').reduce((acc, c) => acc + (c === ' ' ? 5 : 10), 0);
      
      if (textWidth > availableWidth) {
        let i = 0;
        let width = 60; // Allows space for ellipsis and end of filename including extension

        // Find the last space before the filename would overflow the available width
        while (i < filename.length && width < availableWidth) {
          width += filename[i] === ' ' ? 5 : 10;
          i++;
        }

        // Shorten the filename and add an ellipsis
        filename = filename.substr(0, i) + '...' + filename.substr(filename.length-6, filename.length);
      }

      filenameObj.innerText = filename;
    }
  </script>
{{end}}
