{{define "style"}}
  <link href="/static/bootstrap.min.css" rel="stylesheet"></link>
  <style>
    .card-body {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
{{end}}
